@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}

<br />
<br />
<div class="row d-flex justify-content-center col-12">
    <div class="col-4 border border-primary rounded m-20 p-3">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <div class="d-flex justify-content-center">
                <i class="icon-user icon-4x text-success"></i>
            </div>
            <h4 class="d-flex justify-content-center">Napravite novi nalog.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-2">
                <input asp-for="Input.Email" class="form-control" placeholder="email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="Input.Password" class="form-control" placeholder="password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="justify-content-center p-2">
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary p-2" s>Register</button>

            </div>
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
